html,
body,
.container {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background: white;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
}

body {
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: row;
}

#viewDiv {
  flex: 1;
}

.esri-overlay-surface {
  box-shadow: inset 0 0 70px 60px #fff;
}

#menu {
  width: 375px;
  z-index: 1;
  height: 100%;
  overflow: auto;
}

#menu header {
  font-weight: bold;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 10px 10px 0 0;
  letter-spacing: 2px;
}

#description > p {
  transition: background-color 1s;
}

.hidden {
  visibility: hidden;
}

.highlight {
  background-color: #009af2;
}

sub {
  vertical-align: baseline;
  position: relative;
  top: 0.4rem;
}

.labels {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  padding: 0 15px;
}

.symbol {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.8));
  width: 30px;
  height: 30px;
}

.symbolDescription {
  width: 25px;
  height: 25px;
  display: inline-block;
  text-align: center;
  line-height: 25px;
}

.symbol,
.symbolDescription {
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  color: white;
}
.symbol:hover {
  transform: scale(1.3);
  cursor: pointer;
}

#description {
  margin: 20px;
  line-height: 1.6rem;
}

a,
#description button {
  background-color: transparent;
  padding: 0;
  border: none;
  color: #888;
  text-decoration: none;
  cursor: pointer;
  transition: color 300ms;
}

a:hover,
#description button:hover {
  color: #009af2;
  border-color: #009af2;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: rgba(255 255 255 / 0.1);
  border: none;
  border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255 255 255 / 0.8);
}
footer {
  font-size: 0.8rem;
  padding: 0 20px;
}

.title {
  border: 1px solid #888;
  padding: 0 4px;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  #menu {
    height: revert;
    flex: 1;
  }
}
