html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Avenir Next W01", "Arial", sans-serif;
}
#menu {
  position: absolute;
  left: 12px;
  top: 12px;
  bottom: 25px;
  width: 160px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
}

#title {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.5em;
  background: white;
  color: black;
  padding: 10px;
}

#counts {
  margin-top: 5px;
}

#countFilter, #countTotal {
  font-size: 1.1em;
  font-weight: bold;
}

#countFilter {
  color: rgb(237, 152, 21);
}

#countTotal {
  color: #000;
}

button {
  font-family: "Avenir Next W01", "Arial", sans-serif;
  font-size: 1.3em;
  background-color: rgb(237, 152, 21);
  border: 1px solid transparent;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 15px;
}

button:hover {
  background-color: rgb(244, 218, 178);
}

#height-chart {
  height: 150px;
  margin: 20px 0 20px 50px;
}

.noUi-vertical {
  width: 5px;
}

.noUi-connect {
  background: rgb(244, 218, 178);
}

.noUi-vertical .noUi-handle {
  background: rgb(237, 152, 21);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  top: -7px;
  box-shadow: none;
}

.noUi-connect:hover, .noUi-handle {
  cursor: pointer;
}

.noUi-handle:focus {
  outline: none;
}

.noUi-marker-vertical.noUi-marker {
  height: 1px;
}

.noUi-tooltip {
  font-size: 0.6em;
  border: none;
  padding: 0;
}

.noUi-handle:after, .noUi-handle:before {
  background: none;
}


.esri-legend__service-label {
  font-family: "Avenir Next W01", "Arial", sans-serif;
  font-size: 1.2em;
  line-height: 1.2em;
  font-weight: bold;
  color: black;
}

.esri-legend__layer-caption, .esri-legend__layer-table:first-child {
  display: none;
}
