html,
body,
#scene {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: floralwhite;
  font-family: 'Berkshire Swash', cursive;
}

button#tour {
  background: #b090bf;
  border: none;
  font-family: 'Berkshire Swash', cursive;
  position: relative;
  top: -20px;
  padding: 10px 20px;
  color: white;
  font-size: 1.1em;
  border-radius: 5px;
  cursor: pointer;
}

button#tour:hover {
  background: #9265a6;
}

button#tour:focus {
  outline: 0px;
}

footer.attribution {
  font-family: "Avenir Next W00","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #323232;
  background-color: rgba(255,255,255, 0.65);
  position: absolute;
  bottom: 16px;
  left: 0;
  right: 0;
  font-size: 0.75em;
  padding-left: 5px;
}

/* desktop layout */

@media ( min-width: 1024px ) {

  #menu {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 5px;
    width: 310px;
    margin: 0 auto;
    padding: 12px 12px 12px 12px;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid white;
    color: black;
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
  }
}


/* mobile portrait */
@media (max-width: 419px) {
  #menu {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
  }

  #menu h2 {
    display: none;
  }

}

/* mobile landscape */
@media (min-width: 420px) and (max-width: 1023px) {
  #menu {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 1em;
    font-family: 'Berkshire Swash', cursive;
  }

  #menu>img {
    display: none;
  }

  button#tour {
    top: 0px;
    left: 20px;
  }
}
