html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: floralwhite;
  font-family: 'Berkshire Swash', cursive;
}

.esri-popup__feature-buttons, .esri-popup__pointer, .esri-popup__header-buttons {
  display: none;
}

.esri-popup--shadow {
  box-shadow: none;
}

.esri-popup__main-container.esri-widget {
  left: 50%;
  background-color: transparent;
  border-bottom:#ff635e 2px dashed;
}
.esri-popup--aligned-bottom-center .esri-popup__main-container.esri-widget{
  border-top: #ff635e 2px dashed;
  border-bottom: none;
}

.esri-popup__content {
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0 0 0 40px;
  padding: 10px;
  font-size: 14px;
}

#menu {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 5px;
  width: 310px;
  margin: 0 auto;
  padding: 12px 12px 12px 12px;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid white;
  color: black;
  text-align: center;
  font-family: 'Berkshire Swash', cursive;
}

button#tour {
  background: #b090bf;
  border: none;
  font-family: 'Berkshire Swash', cursive;
  position: relative;
  top: -20px;
  padding: 10px 20px;
  color: white;
  font-size: 1.1em;
  border-radius: 5px;
  cursor: pointer;
}

button#tour:hover {
  background: #9265a6;
}

button#tour:focus {
  outline: 0px;
}