html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Cabin Sketch', cursive;
}

h1 {
  margin: 5px;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

footer {
  position: absolute;
  left: 10px;
  bottom: 20px;
  border: solid rgb(50, 50, 50);
  border-width:  1px;
  width: 90%;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.9);
}

.border-1 {
  top: 1px;
  bottom: 1px;
  left: -4px; /* margin + border */
  right: -4px; /* margin + border */
  display: block;
  border: solid rgb(50, 50, 50);
  border-width: 1px;
  transform: rotate(1deg);
}

.border-2 {
  top: 1px;
  bottom: 1px;
  left: -4px; /* margin + border */
  right: -4px; /* margin + border */
  display: block;
  border: solid rgb(50, 50, 50);
  border-width: 1px;
  padding: 10px;
  transform: rotate(-1deg);
}

a, a:visited {
  text-decoration: none;
  font-weight: bold;
  color: rgb(50, 50, 50);
}
