html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: floralwhite;
}

#containerBottom {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#containerTop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 50%;
  overflow: hidden;
}

#swipe {
  position:absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 5px;
  background: rgb(100, 100, 100);
  border: 7px solid rgba(255, 255, 255, 0.8);
  border-bottom: none;
  border-top: none;
  cursor: pointer;
}

#swipe>img {
  height: 60px;
  position:absolute;
  top:50%;
  margin-left: -13px;
  margin-top:-30px;
  pointer-events: none;
}

#viewBottom {
  height: 100%;
  width: 100%;
}

#viewTop {
  height: 100%;
}

.esri-component.esri-attribution.esri-widget {
  opacity: 0.6;
  background-color: transparent;
}

.esri-attribution__sources.esri-interactive {
  font-size: 0.7em;
}

header {
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 20px;
}

footer {
  position: absolute;
  right: 10px;
  bottom: 20px;
}

a, a:visited {
  text-decoration: none;
  font-weight: bold;
  color: #444;
}

.esri-attribution__powered-by {
  display: none;
}

#paneDiv {
  position: absolute;
  top: 12px;
  left: 62px;
  width: 80%;
  padding: 12px 12px 12px 12px;
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid white;
  color: black;
}
