@import url('https://fonts.googleapis.com/css?family=Fascinate');

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: floralwhite;
}

#containerBottom {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#containerTop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 50%;
  overflow: hidden;
}

#swipe {
  position:absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -7px;
  width: 5px;
  background: rgb(0, 0, 0);
  border: 9px solid rgba(255, 255, 255, 0.8);
  border-bottom: none;
  border-top: none;
  background-clip: content-box;
  cursor: col-resize;
  z-index: 1;
  /*box-shadow: 0px 0px 10px 2px rgba(255,255,255,1);*/
}

#swipe>img {
  height: 60px;
  position:absolute;
  top:50%;
  margin-left: -13px;
  margin-top:-30px;
  pointer-events: none;
}

#viewBottom {
  height: 100%;
  width: 100%;
}

#viewTop {
  height: 100%;
}

.esri-component.esri-attribution.esri-widget {
  opacity: 0.6;
  background-color: transparent;
}


header {
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px;
  font-family: 'Fascinate', cursive;
  font-size: 1.7em;
  z-index: 2;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
