html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Press Start 2P', cursive;
}

body {
  background-color: black;
}

#viewDiv canvas {
  filter: drop-shadow(0 0 5px rgb(0, 255, 255));
}

button {
  position: absolute;
  top: 40px;
  border: none;
  color: white;
  background-color: transparent;
  font-size: 1.5em;
  font-family: 'Press Start 2P', cursive;
  transition: color .2s ease-in-out;
  cursor: pointer;
}

button:hover {
  animation: change-color 2s infinite;
}

@keyframes change-color {
 0%, 100% {
   color: #fff;
 }
 30% {
   color: #2fff00;
 }
 60% {
   color: #00fff2;
 }

}

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  text-align: center;
  padding: 0.1em 2em;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 0.9em;
  font-family: monospace;
}

a {
  text-decoration: none;
  font-weight: bold;
}
