html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background: radial-gradient(
    circle,
    rgba(76, 142, 232, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  font-family: "Avenir Next W00", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer {
  color: #323232;
  background-color: rgba(255, 255, 255, 0.65);
  position: absolute;
  bottom: 16px;
  left: 0;
  right: 0;
  font-size: 12px;
  padding: 5px;
}

footer a {
  color: rgb(226, 111, 9);
  font-weight: bold;
  text-decoration: none;
}
