html,
body,
#view {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
#menu {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 350px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
}

#height-chart {
  height: 100px;
  margin-left: 50px;
}

.noUi-vertical {
  width: 5px;
}

.noUi-connect {
  background: #D3D3D3;
}

.noUi-vertical .noUi-handle {
  background: #000;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  top: -7px;
  box-shadow: none;
}

.noUi-connect:hover, .noUi-handle {
  cursor: pointer;
}

.noUi-handle:focus {
  outline: none;
}

.noUi-marker-vertical.noUi-marker {
  height: 1px;
}

.noUi-tooltip {
  font-size: 0.6em;
  border: none;
  padding: 0;
}

.noUi-handle:after, .noUi-handle:before {
  background: none;
}

.noUi-value-vertical {
  /*font-size: 0.6em;*/
}
