html,
body,
.container {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background: white;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
}

body {
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: row;
}

#viewDiv {
  flex: 1;
}

.esri-overlay-surface {
  box-shadow: inset 0 0 70px 60px #fff;
}

#menu {
  width: max(30%, 300px);
  z-index: 1;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

#description {
  margin: 20px;
  line-height: 1.6rem;
  flex: 1;
}

a,
#description button {
  background-color: transparent;
  padding: 0;
  border: none;
  color: #009af2;
  text-decoration: none;
  cursor: pointer;
  transition: color 300ms;
}

a:hover,
#description button:hover {
  color: #888;
  border-color: #009af2;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: rgba(50 50 50 / 0.1);
  border: none;
  border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(50 50 50 / 0.8);
}
footer {
  font-size: 0.8rem;
  padding: 0 20px;
}

.title {
  padding: 0 4px;
  font-weight: bold;
  display: flex;
  gap: 10px;
}

.subtitle {
  font-size: 0.8rem;
  color: #888;
  font-weight: bold;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  #menu {
    height: revert;
    flex: 1;
  }
}
