
body {
  color: white;
}

#viewDiv {
  filter: drop-shadow(1px 1px 3px rgba(255, 255, 255, 0.3));
}

#image {
  background-image: url('./background-black.jpg');
  background-size: cover;
  opacity: 1;
}

#menu button {
  background: #2C2C2C;
  color: white;
  border-bottom: 1px solid white;
}

.esri-attribution, #intro, #loading, #error {
  color: white;
}

#menu button:hover, #mode:hover, .slide:hover {
  background: #555;
}

a:hover {
  color: #f5d3bc;
}

#mode {
  background: #2C2C2C;
  color: white;
  border-bottom: 1px solid white;
}

#loading>img {
  filter: brightness(5);
}

.slide {
  background: #2C2C2C;
  color: white;
  border-color: white;
}
