html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
}

#screenshot {
  position: relative;
  flex: 0.5;
  text-align: center;
  background-color: #ffecba;
  font-size: 1.1em;
  padding: 0.3em 0.3em 100px;
  overflow: auto;
}

#screenshot-btn {
  background-color: rgba(255, 224, 104, 1);
  border: none;
  border-radius: 40px;
  padding: 10px;
  cursor: pointer;
}

#screenshot-btn:hover {
  background-color: rgba(237, 207, 94, 1);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.7);
}

#screenshot-btn>img, .download>img {
  height: 40px;
  width: 40px;
}

.download {
  height: 40px;
  width: 40px;
  background: transparent;
  box-shadow: none;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.hide {
  display: none;
}

#scene-view {
  flex: 0.5;
}

#image-container {
  background-color: #000;
  height: 300px;
  color: white;
}

#image-container>p {
  margin: 0;
  padding: 10px;
}

.polaroid-image-frame {
  height: 400px;
  width: 350px;
  margin: 0 auto;
  background: white;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.7);
  transform: rotate(3deg);
  padding: 10px 10px 0 10px;
  font-family: 'Shadows Into Light', cursive;
}

#filters {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  background-color: rgba(255, 224, 104, 1);
}

.image-filters-container {
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.7);
  overflow-x: auto;
}

.filter-btn {
  border: 0.5px solid black;
  box-shadow: none;
  height: 50px;
  width: 70px;
  margin: 10px;
  cursor: pointer;
  font-size: 0.6em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.filter-btn>span {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 3px;
}

.filter-btn.initial {
  color: white;
  background-color: rgb(0, 0, 0);
}

.filter-btn:hover {
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.7);
}

#attribution-div {
  margin-right: -20px;
  width: 200px;
  background: rgba(255, 255, 255, 0.9);
  font-size: 0.7em;
  padding: 0.4em;
  color: white;
  background-color: black;
  line-height: 1.5em;
}

#attribution-div>a {
  color: rgba(255, 224, 104, 1);
  font-weight: bold;
}

.social-media {
  margin-bottom: 20px;
  text-align: right;
}

@media (max-width: 600px) {
  body {
    flex-direction: column;
  }
  #filters {
    position: fixed;
  }
}
